name: CI Pipeline

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest
    
    steps:

      - name: Checkout code
        uses: actions/checkout@v4
      

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'
      

      - name: Install dependencies
        run: |
          pip install --upgrade pip
          pip install -r requirements.txt
      

      - name: Run tests with HTML report
        run: |
          python -m pytest --html=report.html --self-contained-html
      

      - name: Upload test report
        uses: actions/upload-artifact@v4
        with:
          name: test-report
          path: report.html
  

  package:
    runs-on: ubuntu-latest
    needs: test
    if: success()
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: Create source code artifact
        run: |
          zip -r source-code.zip . -x "*.git*" "*.github*" "__pycache__/*" "*.venv*"
      
      - name: Upload source code
        uses: actions/upload-artifact@v4
        with:
          name: source-code
          path: source-code.zip
